<html>

<body>
	<div class="fatigueDrivingApp_page" id="fatigueDrivingAppAfter">

		<div class="row">
			<table class="fatigueDrivingApp_page_table">
				<tbody>
					<tr>
						<td>
							<div class="imgAppHome_search_title">输入摄像头网络地址：</div>
						</td>
						<td colspan="5">
							<span id="fatigueDrivingApp_camera_addr" class="">rtsp://admin:zhijianglab123@192.168.1.108:554/h264/ch1/sub/av_stream</span>
						</td>

					</tr>


					<tr>
						<td>
							<div>
								<button type="button" onclick="" class="fatigueDrivingApp_btn">
									1. 检测摄像头
								</button>
							</div>
						</td>
						<td>
							<div class="fatigueDrivingApp_descs">
								<span id="checkCameraStatusRet" class="">摄像头连接成功!</span>
							</div>
						</td>
						<td>
							<div>
								<button type="button" onclick="" class="fatigueDrivingApp_btn">
									2. 疲劳检测
								</button>
							</div>
						</td>
						<td>
							<div class="fatigueDrivingApp_descs">
								<span id="startFatigueDrivingRet" class="fatigueDrivingApp_descs">检测中...</span>
							</div>
						</td>
						<td>
							<div>
								<button type="button" onclick="finishFatigueDrivingAfter()" class="fatigueDrivingApp_btn">
									3. 停止检测
								</button>
							</div>
						</td>
						<td>
							<div class="fatigueDrivingApp_descs">
								<span id="finishFatigueDrivingRet" class="fatigueDrivingApp_descs"></span>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		
		<div class="row fatigueDrivingApp_camera_show">
			<div id="fatigueDrivingApp_camera_img">
			</div>
		</div>




		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-md-4">
				<!-- <span id="fdtest">result:</span> -->
			</div>

			<div class=" col-md-4" id="fatigueDrivingApp_result">
				<!-- <canvas id="canvas" style="height: 600px; width: 600px;"></canvas> -->
				<span id="fatigueDrivingApp_result_txt" class="fatigueDrivingApp_result_show"></span>
			</div>

			<div class="col-md-4">
				<!-- <span id="fdtest">result:</span> -->
			</div>

		</div>
	</div>




	<link href="../lib/bootstrap-3.3.1/css/bootstrap.min.css" rel="stylesheet" />
	<link href="../css/vs-light.css" rel="stylesheet" />
	<script src="../lib/jquery/jquery.min.js"></script>
	<script src="../lib/bootstrap-3.3.1/js/bootstrap.min.js"></script>
	<script src="../lib/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/fatigueDrivingAppAfter.js"></script>
	<script>Vue.config.ProductionTip = false</script>

	<script>
		try {
			var ws = new WebSocket("ws://127.0.0.1:8188/");
			ws.onopen = function (evt) {
				console.log("2222222Connection open ...");
				ws.send("Hello WebSockets!");
			};

			ws.onmessage = function (evt) {
				if (document.getElementById("fatigueDrivingApp_camera_img").children.length == 0) {
					let img_tag = document.createElement('img');
					img_tag.src = evt.data;
					img_tag.id = "cameraImg";
					document.getElementById("fatigueDrivingApp_camera_img").appendChild(img_tag);
				} else {
					document.getElementById("cameraImg").src = evt.data;
				}
				// $("#resImg").attr("src", evt.data);
				// <img alt="视频加载中" id="resImg" src="" />
				// ws.close();
			};

			ws.onclose = function (evt) {
				console.log("2222Connection closed.");
			};
		} catch (error) {
			console.log("222222222$$$$$$$$$$$$$$$$$$$$$$$4", error);
		}


	</script>

	<script>

	</script>
</body>

<!-- <script type="text/javascript" src="../lib/jsmpeg-master/jsmpeg.min.js"></script>
<script type="text/javascript">
	player = new JSMpeg.Player('ws://localhost:9999', {  //该9999端口接收前面server.js中发送来的数据帧
		canvas: document.getElementById('canvas') // Canvas should be a canvas DOM element
	})
	player.play();
</script> -->

</html>