<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <title>应用启动</title>


    <style>
        .clearfix:before,
        .clearfix:after {
            display: table;
            content: "";
        }

        .clearfix:after {
            clear: both;
        }

        .clearfix {
            *zoom: 1;
        }

        .thewrap {
            box-sizing: border-box;
        }
        
    </style>

    <script>

    </script>

</head>

<body>
    <div id="imgAppRunTask" class="imgAppRunTask_page">
        <!-- <div class="clearfix thewrap imgAppRunTask_top">
            <div class="imgAppRunTask_taskDescBox">
                <div class="imgAppRunTask_title">
                    "{{ imgAppInformation.name }}" 数字图像识别应用启动运行:
                </div>
                <div class="imgAppRunTask_desc">
                    <p>步骤一：图像脉冲编码，将原数字图像转换为.pickle格式的脉冲文件，文件中保存图片脉冲编码后的结果。当前默认是使用基于频率的脉冲编码方法。</p>
                    <p>步骤二：打包脉冲文件，根据模型的配置文件等信息，将步骤一生成的脉冲文件打包，发送给芯片。</p>
                    <p>步骤三：运行任务，将上一步打包后的图像脉冲数据发送给类脑计算机，根据部署模型等信息进行数字图像识别，识别结果会实时发送回来。</p>
                </div>
            </div>
        </div> -->



        <div class="clearfix thewrap imgAppRunTask_bottom">
            <div id="taskIframe" class="imgAppRunTask_taskIframeBox">
                <!-- <div class="imgAppRunTask_chip_title">芯片运行状态</div> -->
                <iframe :src="iframeRoute" sandbox="allow-scripts allow-popups allow-same-origin" frameborder="0" marginwidth="0"  marginheight="0"
                    scrolling="no" class="imgAppRunTask_taskIframeContent"></iframe>
            </div>
        </div>



    </div>


    <!-- js引用要放在body体中，否则vue找不到要挂载的元素-->
    <link href="../lib/bootstrap-3.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/vs-light.css" rel="stylesheet" />
    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap-3.3.1/js/bootstrap.min.js"></script>
    <script src="../lib/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/imgAppRunTask.js"></script>
    <script>Vue.config.ProductionTip = false</script>
</body>

</html>