<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../lib/jquery-1.10.2.js"></script>
    <script src="../lib/wavesurfer/wavesurfer.min.js"></script>
    <script src="../lib/wavesurfer/wavesurfer.timeline.js"></script>
    <script src="../lib/wavesurfer/wavesurfer.cursor.js"></script>
    <script src="../lib/wavesurfer/wavesurfer.spectrogram.js"></script>

    <style>
        .waveform {
            max-width: 800px;
            height: 150px;
            margin: auto;
        }
    </style>

</head>

<body>
    <div id="waveform" class="waveform"></div>
    <a href="javascript:" id="btnPlay" role="button">播放</a>
    <a href="javascript:" id="btnPause" role="button">暂停</a>

    <div>
        <input type="file" id="fileinput" />
    </div>
    <script>
        var wavesurfer = WaveSurfer.create({
            container: '#waveform'
        });

        $("#fileinput").on("change", function () {
            var file = this.files[0];
            console.log(file);
            if (file) {
                var reader = new FileReader();
                reader.onload = function (evt) {
                    // var blob = new window.Blob([new Uint8Array(evt.target.result)]);
                    
                    
                    console.log("blob", blob);
                    wavesurfer.loadBlob(blob);
                };
                reader.onerror = function (evt) {
                    console.error("An error ocurred reading the file: ", evt);
                };
                reader.readAsArrayBuffer(file);
            }

            // wavesurfer.load(require("../cache/audio.wav"));

        });

        // wavesurfer.load('./zxx-comic-01.mp3');
        // 播放和暂停
        btnPlay.addEventListener('click', function () {
            wavesurfer.play();
        });
        btnPause.addEventListener('click', function () {
            wavesurfer.pause();
        });




        function base64ToBlob(base64, fileType) {
            let typeHeader = 'data:application/' + fileType + ';base64,'; // 定义base64 头部文件类型
            let audioSrc = typeHeader + base64; // 拼接最终的base64
            let arr = audioSrc.split(',');
            let array = arr[0].match(/:(.*?);/);
            let mime = (array && array.length > 1 ? array[1] : type) || type;
            // 去掉url的头，并转化为byte
            let bytes = window.atob(arr[1]);
            // 处理异常,将ascii码小于0的转换为大于0
            let ab = new ArrayBuffer(bytes.length);
            // 生成视图（直接针对内存）：8位无符号整数，长度1个字节
            let ia = new Uint8Array(ab);
            for (let i = 0; i < bytes.length; i++) {
                ia[i] = bytes.charCodeAt(i);
            }
            console.log("base64转为blob");
            return new Blob([ab], {
                type: mime
            });
        }
    </script>
</body>

</html>