<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <title>应用视图</title>
    <link href="../css/vs-light.css" rel="stylesheet" />
    <style type="text/css">
        .appMain_body_bg {
            text-align: center;
        }

        .appMain_body_bg::after {
            content: "";
            background: url("../images/zhijiang.JPG");
            opacity: 0.3;
            top: 25px;
            left: 25px;
            bottom: 25px;
            right: 25px;
            position: absolute;
            z-index: -1;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    </style>

    <script>
        const vscode = acquireVsCodeApi();

        function gotoAppPage(num) {
            vscode.postMessage({
                command: 'gotoOneKindUserAppPage',
                text: num,
            })
        }
    </script>

</head>

<body>
    <div class="appMain_page">

        <table class="appMain_page_tab appMain_body_bg">
            <tr>
                <td align="center" valign="middle">
                    <div class="imgApp_logo_outBox" onclick="gotoAppPage(1)">
                        <div class="imgApp_logo_inBox">
                            <img src="../images/图像识别.png" id="app1" class="imgApp_logo" />
                        </div>
                        <div class="imgApp_title_box">
                            <div class="imgApp_title">数字图像识别</div>
                        </div>
                    </div>
                </td>

                <td align="center" valign="middle">
                    <div class="imgApp_logo_outBox" onclick="gotoAppPage(2)">
                        <div class="imgApp_logo_inBox">
                            <img src="../images/big语音识别.png" id="app2" class="imgApp_logo" />
                        </div>
                        <div class="imgApp_title_box">
                            <div class="imgApp_title">&#12288;语音识别&#12288;</div>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td align="center" valign="middle">
                    <div class="imgApp_logo_outBox" onclick="gotoAppPage(3)">
                        <div class="imgApp_logo_inBox">
                            <img src="../images/big脑电模拟.png" id="app3" class="imgApp_logo" />
                        </div>

                        <div class="imgApp_title_box">
                            <div class="imgApp_title">&#12288;年龄检测&#12288;</div>
                        </div>
                    </div>
                </td>
                <td align="center" valign="middle">
                    <div class="imgApp_logo_outBox" onclick="gotoAppPage(4)">
                        <div class="imgApp_logo_inBox">
                            <img src="../images/其他应用.png" id="app4" class="imgApp_logo" />
                        </div>
                        <div class="imgApp_title_box">
                            <div class="imgApp_title">&#12288;疲劳检测&#12288;</div>
                        </div>
                    </div>
                </td>
            </tr>

        </table>

    </div>

</body>

</html>