<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <title>应用视图</title>
    <link href="../css/vs-light.css" rel="stylesheet" />
    <style>

    </style>

    <script>
        const vscode = acquireVsCodeApi();

        function gotoAppPage(num) {
            vscode.postMessage({
                command: 'gotoOneKindUserAppPage',
                text: num,
            })
        }
    </script>

</head>

<body>
    <div class="appMain_page">

        <table class="appMain_page_tab">
            <tr>
                <td align="center" valign="middle">
                    <div class="imgApp_logo_outBox" onclick="gotoAppPage(1)">
                        <div class="imgApp_logo_inBox">
                            <img src="../images/图像识别.png" id="app1" class="imgApp_logo" />
                        </div>
                        <div class="imgApp_title_box">
                            <div class="imgApp_title">图像识别</div>
                        </div>
                    </div>
                </td>

                <td align="center" valign="middle">
                    <div class="imgApp_logo_outBox" onclick="gotoAppPage(2)">
                        <div class="imgApp_logo_inBox">
                            <img src="../images/big语音识别.png" id="app2" class="imgApp_logo" />
                        </div>
                        <div class="imgApp_title_box">
                            <div class="imgApp_title">语音识别</div>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td align="center" valign="middle">
                    <div class="imgApp_logo_outBox" onclick="gotoAppPage(3)">
                        <div class="imgApp_logo_inBox">
                            <img src="../images/big脑电模拟.png" id="app3" class="imgApp_logo" />
                        </div>

                        <div class="imgApp_title_box">
                            <div class="imgApp_title">脑电模拟</div>
                        </div>
                    </div>
                </td>
                <td align="center" valign="middle">
                    <div class="imgApp_logo_outBox" onclick="gotoAppPage(4)">
                        <div class="imgApp_logo_inBox">
                            <img src="../images/其他应用.png" id="app4" class="imgApp_logo" />
                        </div>
                        <div class="imgApp_title_box">
                            <div class="imgApp_title">其他应用</div>
                        </div>
                    </div>
                </td>
            </tr>

        </table>

    </div>

</body>

</html>